### VIM ###
.vim/swap/undodir/*
.vim/swap/*
.vim/backup/*
.vim/.netrwhist
.vim/bundle/vundle/.netrwhist
.vim/bundle/*
.vim/plugged/*
.vim/autoload/plug.vim.old

### MUTT ###
.mutt/.localprofile
.mutt/certificates
.mutt/*.gpg
.mutt/cache

### MC ###
.config/mc/panels.ini

### MISE ###
.config/mise/conf.d/l*
.config/mise/mise.local.toml

### HERDR ###
.config/herdr/herdr*
.config/herdr/session.json
.config/herdr/plugins*

### Envmgr ###
.bin/envmgr

### AWESOME AUTORUN ###
.config/awesome/autorun/*

### LOCAL SHELL ENV ###
sh.d/S99_local
sh.d/L*

### BREW BUNDLE ###
Brewfile.lock.json

### KITTY ###
.config/kitty/kitty.conf.bak
